<h2>National Insurance Service</h2>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>NI</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>John Smith</td>
            <td>AA123456A</td>
        </tr>
    </tbody>
</table>

<details role="group">
    <summary role="button" aria-controls="details-content-0">
        <span class="summary">National Insurance Service Actions</span>
    </summary>

    <div class="panel-indent panel-indent--wide panel-indent--gutter">
        <p class="font-bold">None available.</p>
    </div>
</details>