@import uk.gov.hmrc.play.views.html.helpers._
@import forms.TransactionForm._

@(csrfToken: String, submitUrl: String)(implicit request: Request[_], messages: Messages)

<h2>Payments Service</h2>

<table>
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>£100</td>
        </tr>
        <tr>
            <td>2</td>
            <td>£200</td>
        </tr>
    </tbody>
</table>

<form id="select-transaction" action="@submitUrl" method="POST">

    <input type="hidden" name="csrfToken" value="@csrfToken"/>

    <fieldset class="form-field-group">

        <details role="group">
            <summary role="button" aria-controls="details-content-0">
                <span class="summary">Payments Service Actions</span>
            </summary>

            <div class="panel-indent panel-indent--wide panel-indent--gutter">
                <p class="font-bold">Select a Transaction ID to view detailed information:</p>

                @inputRadioGroup(
                    transactionForm("id"),
                    Seq("1" -> "1",
                        "2" -> "2"),
                    '_legend -> "Select",
                    '_legendClass -> "visuallyhidden",
                    '_labelAfter -> true,
                    '_labelClass -> "block-label",
                    '_groupClass -> "inline form-group radio-list"
                )

                <div class="form-field">
                    <button class="button" type="submit">Select</button>
                </div>

            </div>
        </details>

    </fieldset>

</form>

